---
---

@import "{{ site.theme }}";

header {
  background: url('https://stefanopagani.github.io/Slides/backgroundSito.png');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;

 -webkit-background-size: 150%;
  -moz-background-size: 150%;
  -o-background-size: 150%;

}
