---
---

@import "{{ site.theme }}";

header {
  background: url('https://stefanopagani.github.io/Slides/backgroundSito.png');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;

}
