---
---

@import "{{ site.theme }}";

header {
  background: url('https://stefanopagani.github.io/Slides/backgroundSito.png');

  max-height: auto;
  max-width: 100%;

  background-repeat:   no-repeat;
  background-position: 0px 0px;
  background-size: cover;

 -webkit-background-size: 150%;
  -moz-background-size: 150%;
  -o-background-size: 150%;

}
